---
import { Icon } from 'astro-icon/components';
import SideMenuItem from './SideMenuItem.astro';
import SideMenuCard from './SideMenuCard.astro';
import { playlists } from '@/lib/data';
---

<nav class='flex flex-col flex-1 gap-2'>
  <div class='bg-zinc-900 rounded-lg p-2'>
    <ul>
      <SideMenuItem href='/'>
        <Icon name='Home' />
        Home
      </SideMenuItem>
      <SideMenuItem href='/search'>
        <Icon name='Search' />
        Search
      </SideMenuItem>
    </ul>
  </div>

  <div class='bg-zinc-900 rounded-lg p-2 h-full'>
    <ul>
      <SideMenuItem href='/library'>
        <Icon name='Library' />
        Library
      </SideMenuItem>
      {playlists.map((playlist) => <SideMenuCard playlist={playlist} />)}
    </ul>
  </div>
</nav>

<style>
  [data-icon] {
    font-size: 1.5rem;
  }
</style>
